*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    }

h1{
    font-family: 'Advent Pro', sans-serif;
    font-size: 4.5rem;
}

a{
    font-family: 'Spline Sans', sans-serif;
    font-size: 1.125rem;
}

a:hover{
    color: rgb(255, 221, 0) !important;
    transition: 0.2s;
}

p{
    font-family: 'Spline Sans', sans-serif;
    font-size: 1.125rem;
}

.logo img{
    height: 32vh;
    
}

@media screen and (max-width:800px){
    .logo img{
        align-items: start;
        height: 10vh;
    }
    
}

/*header and nav*/

nav{
    position: relative;
    top: 0;
}

header{
    position: absolute;
    display: flex;
    width: 100vw;
    height: 80vh;
    justify-content: space-around;
    align-items: center;
    
    
}

header h1{
    position: absolute;

    color: white;
    font-size: 6rem;
    font-family: Advent pro;
    text-align: center;
    

}

header img{
    position: absolute;
    height: 80vh;
    object-fit: cover;

}

.overlay{
    position: absolute;
    height: 80vh;
    background-color: rgba(29, 53, 108, 0.667);
}

.navbar-light{
    background-color: transparent !important;
}

.navbar-nav{
    height: 32vh;
    align-items:start;
    
   
}



nav .nav-link{
    color: white;
    font-size: 1.125rem;
}

@media screen and (max-width:600px){
    nav .nav-link{
        color: black;
        font-size: 1.125rem;
    }
}

.navbar-toggler{
    background-color: white;
}




/*page-content*/


.acontainer1{
    margin-top: 40vh;
    text-align: center;
    height: 100vh;
    background-color: #8487bf;
    
    
}

@media screen and (min-width:360px){
    .acontainer1{
    margin-top: 50vh;
    text-align: center;
    height: 180vh;
    background-color: #8487bf;
    }
    
}

@media screen and (min-width:375px){
    .acontainer1{
    margin-top: 55vh;
    text-align: center;
    height: 180vh;
    background-color: #8487bf;
    }
    
}

@media screen and (min-width:390px){
    .acontainer1{
    margin-top: 55vh;
    text-align: center;
    height: 160vh;
    background-color: #8487bf;
    }
    
}



@media screen and (min-width: 414px){
    .acontainer1{
    margin-top: 55vh;
    text-align: center;
    height: 150vh;
    background-color: #8487bf;
    }
    
}


@media screen and (min-width:768px){
    .acontainer1{
    margin-top: 70vh;
    text-align: center;
    height: 120vh;
    background-color: #8487bf;
    }
    
}

@media screen and (min-width:820px){
    .acontainer1{
    margin-top: 50vh;
    text-align: center;
    height: 120vh;
    background-color: #8487bf;
    }
    
}

@media screen and (min-width:1000px){
    .acontainer1{
    margin-top: 55vh;
    text-align: center;
    height: 100vh;
    background-color: #8487bf;
    }
    
}






.abouttitle{
    position: relative;
    margin-left: 45vw;
    top:53vh;
}

@media screen and (min-width:360px){
    .abouttitle{
        width: 45vw;
        position: relative;
        margin-left: 10vw;
        top:100vh;

        text-align: left !important;
        color: white !important;

    }
    
}

@media screen and (min-width:375px){
    .abouttitle{
        width: 45vw;
        position: relative;
        margin-left: 10vw;
        top:110vh;

        text-align: left !important;
        color: white !important;

    }
    
}

@media screen and (min-width:414px){
    .abouttitle{
        width: 45vw;
        position: relative;
        margin-left: 10vw;
        top:100vh;

        text-align: left !important;
        color: white !important;

    }
    
}

@media screen and (min-width:600px){
    .abouttitle{
        width: 45vw;
        position: relative;
        margin-left: 10vw;
        top:105vh;

        text-align: left !important;
        color: white !important;

    }


    
}

@media screen and (min-width:820px){
    .abouttitle{
        width: 45vw;
        position: relative;
        margin-left: 10vw;
        top:90vh;

        text-align: left !important;
        color: white !important;

    }


    
}

@media screen and (min-width:1000px){
    .abouttitle{
        width: 45vw;
        position: relative;
        margin-left: 40vw;
        top:70vh;

        text-align: left !important;
        color: white !important;

    }


    
}

.title{
    color: rgba(29, 53, 108, 0.847);
    font-weight:900;
    text-align: left;
    
}

@media screen and (max-width:600px) {
    .title{
        color: rgba(29, 53, 108, 0.847);
        font-weight:900;
        text-align: center;
        
    }
}

.acontainerpic1{
    justify-content: right;
    align-items: center;
    margin: 10px;
    

}


.acontainer1img{
    
    width: 10vw;
    height: 80vh;
    object-fit: cover;
    
    
}  


@media screen and (max-width:600px){
    .acontainer1img{
        margin: 0 auto;
        width: 95vw;
        object-fit: cover;
        
        
    }  
}


@media screen and (max-width:800px){
    .acontainer1img{
        margin: 0 auto;
        width: 60vw;
        object-fit: cover;
        
        
    }  
}

@media screen and (min-width:820px){
    .acontainer1img{
        margin: 0 auto;
        width: 70vw;
        object-fit: cover;
        
        
    }  
}

@media screen and (min-width:1000px){
    .acontainer1img{
    
        width: 30vw;
        height: 80vh;
        object-fit: cover;
        
        
    }  
}


.gridimg{
    height: 25vh;
    object-fit: cover;
}

@media screen and (min-width: 360px){
    .gridimg{
        height: 21.5vh;
        object-fit: cover;
    }
}

@media screen and (min-width: 390px){
    .gridimg{
        height: 20vh;
        object-fit: cover;
    }
}

@media screen and (min-width:414px){
    .gridimg{
        height: 20vh;
        object-fit: cover;
    }
}

@media screen and (min-width:768px){
    .gridimg{
        height: 12.5vh;
        object-fit: cover;
    }
}



@media screen and (min-width:1000px){
    .gridimg{
        height: 25vh;
        object-fit: cover;
    }
}



.acontainerinfo{
    align-items: center;
    text-align: justify;
    padding: 10px;
    
    
}


.acontainer2{
    margin-bottom: 10vh;
    background-color: #ffe26b;
}

@media screen and (min-width: 360px) {
    .acontainer2{
        margin-bottom: 10vh;
        background-color: #ffe26b;
        height: 160vh;
    }
}

@media screen and (min-width: 375px) {
    .acontainer2{
        margin-bottom: 10vh;
        background-color: #ffe26b;
        height: 180vh;
    }
}


@media screen and (min-width: 390px) {
    .acontainer2{
        margin-bottom: 10vh;
        background-color: #ffe26b;
        height: 150vh;
    }
}

@media screen and (min-width: 414px) {
    .acontainer2{
        margin-bottom: 10vh;
        background-color: #ffe26b;
        height: 130vh;
    }
}

@media screen and (min-width: 768px) {
    .acontainer2{
        margin-bottom: 10vh;
        background-color: #ffe26b;
        height: 120vh;
    }
}

@media screen and (min-width: 1000px) {
    .acontainer2{
        margin-bottom: 10vh;
        background-color: #ffe26b;
        height: 75vh;
    }
}



.acontainerinfo1{
    justify-content: right;
    height: 75vh;
    
  
}


.acontainerbox{
    background-color: #78798f !important;
    margin: 10px;
}


.acontainerinfo3{
    height: 50vh;
    text-align: justify;
    padding: 10px;
    
    
   
    
}




/*footer*/
footer{   
    background-color: rgba(29, 53, 108, 0.847);
    padding: 20px;

    color: white;
}


.footerlogo img{
    height: 25vh;
}

.container5{
    margin: 0 auto;
}

.c5boxitems{
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: justify;
}



.c5boxitems h2{
    font-weight: 800;
    font-size: 1.5rem;
    font-family:  ABeezee;
}



footer i{
    letter-spacing: 1vw;
    font-size: 1.5rem;
    color: white;
}

.c5footer{
    font-family: 'Advent Pro', sans-serif;
    font-weight: 800;
}

hr{
    border: 3px solid white;
}
 
