* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    font-family: 'Advent Pro', sans-serif;
    font-size: 4.5rem;
}

a {
    font-family: 'Spline Sans', sans-serif;
    font-size: 1.125rem;
}

a:hover {
    color: rgb(255, 221, 0) !important;
    transition: 0.2s;
}

p {
    font-family: 'Spline Sans', sans-serif;
    font-size: 1.125rem;
}

.logo img {
    height: 32vh;
}

@media screen and (max-width: 800px) {
    .logo img {
        align-items: start;
        height: 10vh;
    }
}

/* Header and Nav */
nav {
    position: relative;
    top: 0;
}

header {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 80vh;
    justify-content: space-around;
    align-items: center;
}

header h1 {
    position: absolute;
    color: white;
    font-size: 6rem;
    font-family: Advent pro;
}

header img {
    position: absolute;
    height: 80vh;
    object-fit: cover;
}

.overlay {
    position: absolute;
    height: 80vh;
    background-color: rgba(29, 53, 108, 0.667);
}

.navbar-light {
    background-color: transparent !important;
}

.navbar-nav {
    height: 32vh;
    align-items: start;
}

nav .nav-link {
    color: white;
    font-size: 1.125rem;
}

@media screen and (max-width: 600px) {
    nav .nav-link {
        color: black;
        font-size: 1.125rem;
    }
}

.navbar-toggler {
    background-color: white;
}

/* Page Content */
.gcontainer0 {
    margin-top: 50vh;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .gcontainer0 {
        margin-top: 70vh;
        text-align: center;
    }
}

.gcontainer1 {
    padding: 20px;
}

.item {
    height: 55vh;
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

img {
    height: 55vh;
    object-fit: cover;
}

.item:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Footer */
footer {
    background-color: rgba(29, 53, 108, 0.847);
    padding: 20px;
    color: white;
}

.footerlogo img {
    height: 25vh;
}

.container5 {
    margin: 0 auto;
}

.c5boxitems {
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: justify;
}

.c5boxitems h2 {
    font-weight: 800;
    font-size: 1.5rem;
    font-family: ABeezee;
}

footer i {
    letter-spacing: 1vw;
    font-size: 1.5rem;
    color: white;
}

.c5footer {
    font-family: 'Advent Pro', sans-serif;
    font-weight: 800;
}

hr {
    border: 3px solid white;
}
