*{
    margin: 0;
    padding: 0;
}


.nav-link:hover{
        background-color: transparent;
    }

button{
        background-color: #8487bfFF;
        border-style: none;
        padding: 10px;
    }
    
    
button:hover{
        transform: scale(1.05);
        transition: transform 1.5s ease;
    }


.modal-dialog {
    background-color: #ffe26b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
    }

.modal-body{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 912px){
    .modal-body{
        display: flex;
        flex-direction: column;
    }
    
}


.contact {
     margin-bottom: 20px;
    }

.modal-body img{
    width: 50vh;
    height: 30vw;
    object-fit: cover;
}

.info{
    padding: 10px;
}



@media screen and (min-width: 360px) {
    .modal-body img{
        width: 20vh;
        height: 100vw;
        object-fit: cover;
    }
    
}

@media screen and (min-width: 375px) {
    .modal-body img{
        width: 45vh;
        height: 100vw;
        object-fit: cover;
    }
    
}

@media screen and (max-width: 390px) {
    .modal-body img{
        width: 55vh;
        height: 100vw;
        object-fit: cover;
    }
    
}

@media screen and (min-width: 412px) {
    .modal-body img{
        width: 38vh;
        height: 100vw;
        object-fit: cover;
    }
    
}

@media screen and (min-width: 768px) {
    .modal-body img{
        width: 46vh;
        height: 40vw;
        object-fit: cover;
    }
    
}

@media screen and (min-width: 820px) {
    .modal-body img{
        width: 40vh;
        height: 40vw;
        object-fit: cover;
    }
    
}

@media screen and (min-width: 1000px) {
    .modal-body img{
        width: 50vh;
        height: 30vw;
        object-fit: cover;
    }
    
}

@media screen and (min-height: 1366px) {
    .modal-body img{
        width: 50vh;
        height: 50vw;
        object-fit: cover;
    }
    
}



