*{
    margin: 0;
    padding: 0;
}


.nav-link:hover{
        background-color: transparent;
    }

button{
        background-color: #8487bfFF;
        border-style: none;
        padding: 10px;
    }
    
    
button:hover{
        transform: scale(1.05);
        transition: transform 1.5 ease;
    }


.modal {
    background-color: #ffe26b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
    }


.contact {
     margin-bottom: 20px;
    }

.modal-body img{
    width: 50vh;
    height: 30vw;
}

@media screen and (max-width: 800px) {
    .modal-body img{
        width: 70vh;
        height: 100vw;
    }
    
}


